body {
	margin: 0; 
	padding: 0;
	background-color: #555;
	font-size: 10px;
	line-height: 14px;
	font-family: helvetica, sans-serif;
	text-decoration: none;
	color: #000;
	}

/* ------------------------------------------------------------------ */

a:link {
	font:				19px helvetica, sans-serif;
	text-decoration:	none; 
	color:				#000;
	}
	
a:visited {
	font:				19px helvetica, sans-serif; 
	text-decoration:	none; 
	color:				#000;
	}

a:hover {
	font:				19px helvetica, sans-serif;
	text-decoration:	underline;
	color:				#d82027;
	}
	
a:active {
	font:				19px helvetica, sans-serif;
	text-decoration:	none; 
	color:				#d82027;
	}
	
#container {
	width: auto;
}
	
	
/* smoothdivscroll.com */

#header {
	position: absolute;
	border: none;
	width: 100%;
	height: 15%;
	background-color: #99ccff;
	z-index: 2000;
	border-bottom: solid 5px #6699cc; 
}

#header p {
	position: relative;
	padding: 5px 20px;
	top: -50px;
	font-size: 90px;
}

#pileContainer /*div.scrollableArea * */{
	position: relative;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 70%;
	background-color: #999999;
}

.pileLink {
	font-size: 16px;
	font-weight: bold;
	font-color: #ddd;
	text-decoration: none;
	padding: 0px 5px;
}


#logo {
	position: absolute;
	top: -70px;
	left: 40px;
	z-index: 5000;
}



/*this is the testdiv class that ideally all user-generated divs should be put into*/

.testdiv {
	width: 286px;
	position: absolute;
	z-index: 1;
	background-color: #006;
	left: 283px;
	top: 211px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	text-align: center;
	font-weight: bold;
	color: #FFF;
	padding: 20px;
	cursor: default;
}

.testdiv a {
	color: #FFD;
}


/* these testdiv id's should not be used, they are here for testing purposes only! */
#testdiv_1 {
	width: 220px;
	height: 205px;
	border: solid 1px #ccc;
	color: #ddd;
	background-color: #111;
}


#testdiv_2 {
	width: 220px;
	height: 200px;
	border: solid 1px #ccc;
	color: #ddd;
	background-color: #333;
	padding: 5px;
}

#testdiv_3 {
	width: 210px;
	height: 300px;
	border: solid 1px #ccc;
	color: #ddd;
	background-color: #777;
	padding: 2px;
}

#testdiv_3 img {
	height: 200px;
}

.footer {
	display: inline;
	float: left;
	position: relative;
	top: -15px;
	padding-bottom: 5px;
}

.footerPoster {
	font-style: italic;
}

.footerDate {
	font-style: none;
}


